<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>ITviec.com</title>
  <link rel="stylesheet" href="../../assets/css/bootstrap-theme.css">
  <link rel="stylesheet" href="../../assets/css/bootstrap-theme.css.map">
  <link rel="stylesheet" href="../../assets/css/bootstrap.css">
  <link rel="stylesheet" href="../../assets/css/bootstrap.css.map">
  <link rel="stylesheet" href="../../assets/font-awesome-4.7.0/css/font-awesome.css">
  <link rel="stylesheet" href="../../assets/font-awesome-4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="../../assets/css/flags.css">
  <link rel="stylesheet" href="../../assets/css/flags.min.css">

  <link rel="stylesheet" href="../../assets/css/bootstrap-toggle.css">

  <link rel="stylesheet" href="../../assets/css/style.css">
</head>
<body>
  <!-- Header -->
  <div id="header" class="container-fluid">
    <div id="content-header" class="container">
      <div class="row">
        <div class="col-md-2" id="logo">
          <img src="../../assets/image/logo.png" >
        </div>
        <div class="col-md-10" id="top-menu">
          <ul>
            <li><a href="#about">Nhà Tuyển Dụng</a></li>
            <li>
              <div class="toggle btn btn-primary" data-toggle="toggle" style="margin-top:10px; width: 58px; height: 34px;">
                <input checked type="checkbox" data-toggle="toggle">
                <div class="toggle-group">
                  <label class="btn btn-primary toggle-on">VN</label>
                  <label class="btn btn-default active toggle-off">EN</label>
                  <span class="toggle-handle btn btn-default"></span>
                </div>
              </div>
            </li>
            <li><a href="#about">Đăng Nhập</a></li>
            <li><a href="#contact">Blog</a></li>
            <li><a href="#news">Công Ty IT Hàng Đầu</a></li>
            <li><a href="#home">Việc Làm IT</a></li>
            <li><a href="#"><i class="fa fa-bell fa-3" aria-hidden="true"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <!-- Content -->
  <div class="container-fluid content">
    <div class="bg-content">
      <!--Top Image  -->

      <div class="container-fluid">
        <div class="row">
          <div class="col-md-4">
            <a href="#"><img class="img-top" src="../../assets/image/br24-logo-170-151.jpg" alt=""></a>
          </div>
          <div class="col-md-4">
            <a href="#"><img class="img-top" src="../../assets/image/br24-logo-170-151.jpg" alt=""></a>
          </div>
          <div class="col-md-4">
            <a href="#"><img class="img-top" src="../../assets/image/br24-logo-170-151.jpg" alt=""></a>
          </div>
        </div>
      </div>


      <!--  content of company -->
      <div class="company-content container-fluid">
        <div class="row">
          <div class="col-md-4">
            <!-- Topic -->
            <div class="topic">
              <!-- Logo -->
              <div class="logo-of-topic">
                <a href="#"><img src="../../assets/image/searix-logo-170-151.png" alt=""></a>
              </div>
              <!-- Employer infomation -->
              <div class="employer-info">
                <div class="name">
                  <a href="#">Searix</a>
                </div>
                <div class="basic-info">
                  <div class="short">
                    Searix Solutions - Software That<br>
                    Transforms Your Business
                  </div>
                  <div class="sub-info">
                    <i class="fa fa-cog" aria-hidden="true"></i>
                    <p>Sản phẩm</p>
                  </div>
                  <div class="sub-info">
                    <i class="fa fa-users" aria-hidden="true"></i>
                    <p>11-50</p>
                  </div>
                  <div class="sub-info">
                    <i class="flag flag-sg" aria-hidden="true"></i>
                    <p>Singapore</p>
                  </div>
                  <div class="sub-info">
                    <i class="fa fa-calendar" aria-hidden="true"></i>
                    <p>Thứ 2 - Thứ 6</p>
                  </div>
                  <div class="sub-info">
                    <i class="fa fa-clock-o" aria-hidden="true"></i>
                    <p>Thêm lương OT</p>
                  </div>
                </div>
                <!-- footer topic -->
                <div class="info-bonus">
                  <a href="#">Về chúng tôi <i class="fa fa-caret-right" aria-hidden="true"></i></a>
                </div>
              </div>
            </div>
          </div>

          <!-- Detail job -->
          <div class="col-md-8 job-detail">
            <!-- header -->
            <div class="job-info">
              <div class="title-detail">
                Mid Level Web Application Full Stack Dev
              </div>
              <div class="tag-list">
                <a class="job__skill ilabel" href="/viec-lam-it/ruby-on-rails">
                  <span>
                    Ruby on Rails
                  </span>
                </a>
                <a class="job__skill ilabel" href="/viec-lam-it/ruby-on-rails">
                  <span>
                    JavaScript
                  </span>
                </a>
                <a class="job__skill ilabel" href="/viec-lam-it/ruby-on-rails">
                  <span>
                    Ruby
                  </span>
                </a>
              </div>
              <div class="salary not-signed-in">
                <span class="salary-icon-stack">
                  <i class="fa fa-usd" aria-hidden="true"></i>
                </span>
                <a class="popup-link view-salary" data-popup-id="sign_in" data-link-status="sign_in_tab" href="javascript:void(0)">Đăng nhập để xem mức lương <i class="fa fa-caret-right" aria-hidden="true"></i></a>
              </div>
              <div class="address">
                <i class="fa fa-map-marker" aria-hidden="true"></i> Hà Nội
              </div>
              <div class="address">
                <i class="fa fa-map-marker" aria-hidden="true"></i> TP.HCM
              </div>
              <div class="time">
                <i class="fa fa-calendar" aria-hidden="true"></i> 9h trước
              </div>
              <div class="apply">
                <a href="#">Ứng tuyển</a>
              </div>
            </div>
            <!-- main Content -->
            <div class="job-reason">
              <div class="title-detail">
                3 Lý Do Để Gia Nhập Công Ty
              </div>
            </div>
            <!-- Reason -->
            <div class="top-3-reason">
              <ul>
                <li>We Provide Competitive Salary</li>
                <li>You'll Work On Challenging Projects</li>
                <li>Your Colleagues Will Be Experts</li>
              </ul>
            </div>
            <!-- Description -->
            <div class="job-detail-description">
              <div class="title-detail">
                Mô Tả Công Việc
              </div>
              <div class="detail-description">
                At Searix, we help companies solve problems through research, design and development using technology. Our analysts work alongside developers to rapidly engineer data-driven solutions, design elegant user experiences, and implement efficient feedback loops. We are sector agnostic, changing the way companies do business in various industries such as in the travel, finance and property sectors, and creating sustainable and mutually beneficial partnerships.
                <br>To achieve all that, we hire individuals with exceptional technical skills and the ability and burning desire to tackle complex and ambiguous problems. We value people who have a spirit of smart experimentation and are not afraid to add value from their perspective. Our team is inclusive, international and interdisciplinary.
                <br>As a Mid-Level Web Application Full Stack Developer, you will form part of the new growing Vietnamese team that will help with maintaining the company's products, as well as develop new software for proof of concepts. Your main point of contact will be a consultant based in Singapore, but you will also have the support of your other teammates in the upcoming Vietnamese office.
                <br>
                <br>
                <strong>Responsibilities</strong>
                <ul>
                  <li><p>Design, develop, test, deploy, maintain and improve software</p></li>
                  <li><p>Manage individual project priorities, deadlines and deliverables on a range of projects from small-sized projects to proof of concept applications</p></li>
                  <li><p>Tweak and deploy variations of the company’s lightweight products (based on PHP CodeIgniter)</p></li>
                  <li><p>Work with senior designers and developers to convert Sketch files to well-structured and clean HTML / Javascript / SASS code with UX functionalities</p></li>
                </ul>
                <br>
              </div>
            </div>
            <!-- Require -->
            <div class="require">
              <div class="title-detail">
                Yêu Cầu Công Việc
              </div>
              <div class="detail-description">
                <ul>
                  <li>General programming experience in: coding in CI, Laravel and other PHP MVC frameworks, frontend and backend templating engines, database design and SQL languages,</li>
                  <li>Ability to follow, maintain and lead the team on strict coding standards</li>
                  <li>Work independently with minimal instruction</li>
                </ul>
              </div>
            </div>
            <!-- Why -->
            <div class="why">
              <div class="title-detail">
                Tại Sao Bạn Sẽ Yêu Thích Làm Việc Tại Đây
              </div>
              <div class="detail-description">
                <p>We're based in Singapore, and are setting up our first office in Vietnam. This means that you'll get a chance at influencing the culture of your workplace. You'll get the best of all worlds - opportunities to travel to Singapore for work, to work on international projects across multiple industries with the brightest minds, and the familiarity of doing it from your own country.</p>
                <ul>
                  <li>We value disciplined flexibility - as long as you're an ethical team player who's responsible, flexibility will be granted to you.</li>
                  <li>We value iterations and client feedback - we want to learn and evolve.</li>
                  <li>We value competency - our business analysts, sales consultants, designers and developers are extremely experienced, so there's always much to learn from each other.</li>
                </ul>
                <p>We also highly value training - each week, we conduct an internal sharing sessions so that the team has a wide breadth of knowledge. Each month, we also conduct an internal master class from a senior to ensure that those who need in-depth skills are given the knowledge and support they need.</p>
              </div>
            </div>
            <!-- Apply button -->
            <div class="apply">
              <a href="#">Ứng tuyển</a>
            </div>
          </div>
        </div>


      </div>
      <!-- extend -->
      <div class="extend">
        <div class="title-detail">
          Việc Làm Phù Hợp Dành Cho Bạn
        </div>
        <div class="job container-fluid" id="job1">
                <div class="row job-content">
                  <div class="col-md-2 img-company">
                    <img src="../../assets/image/company.png" alt="">
                  </div>
                  <div class="col-md-10 job-description">
                    <div class="job-body">
                      <div class="title-job">
                        <h2><a href="#">Ruby on Rails Developer (JavaScript)</a></h2>
                        <div class="salary not-signed-in">
                          <span class="salary-icon-stack">
                            <i class="fa fa-usd" aria-hidden="true"></i>
                          </span>
                          <a class="popup-link view-salary" data-popup-id="sign_in" data-link-status="sign_in_tab" href="javascript:void(0)">Đăng nhập để xem mức lương <i class="fa fa-caret-right" aria-hidden="true"></i></a>
                        </div>
                        <div class="description">
                          <p>• Triển khai, vận hành phần mềm và hướng dẫn sử dụng cho người dùng
                            <br>• Lên kế hoạch hàng năm cho việc phát triển hệ thống ứng dụng, đưa ra những sáng kiến...</p>
                          </div>
                        </div>
                      </div>
                      <div class="job-bottom">
                        <div class="tag-list">
                          <a class="job__skill ilabel" href="/viec-lam-it/ruby-on-rails">
                            <span>
                              Ruby on Rails
                            </span>
                          </a>
                          <a class="job__skill ilabel" href="/viec-lam-it/ruby-on-rails">
                            <span>
                              JavaScript
                            </span>
                          </a>
                          <a class="job__skill ilabel" href="/viec-lam-it/ruby-on-rails">
                            <span>
                              Ruby
                            </span>
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="job container-fluid" id="job2">
                          <div class="row job-content">
                            <div class="col-md-2 img-company">
                              <img src="../../assets/image/company.png" alt="">
                            </div>
                            <div class="col-md-10 job-description">
                              <div class="job-body">
                                <div class="title-job">
                                  <h2><a href="#">Ruby on Rails Developer (JavaScript)</a></h2>
                                  <div class="salary not-signed-in">
                                    <span class="salary-icon-stack">
                                      <i class="fa fa-usd" aria-hidden="true"></i>
                                    </span>
                                    <a class="popup-link view-salary" data-popup-id="sign_in" data-link-status="sign_in_tab" href="javascript:void(0)">Đăng nhập để xem mức lương <i class="fa fa-caret-right" aria-hidden="true"></i></a>
                                  </div>
                                  <div class="description">
                                    <p>• Triển khai, vận hành phần mềm và hướng dẫn sử dụng cho người dùng
                                      <br>• Lên kế hoạch hàng năm cho việc phát triển hệ thống ứng dụng, đưa ra những sáng kiến...</p>
                                    </div>
                                  </div>
                                </div>
                                <div class="job-bottom">
                                  <div class="tag-list">
                                    <a class="job__skill ilabel" href="/viec-lam-it/ruby-on-rails">
                                      <span>
                                        Ruby on Rails
                                      </span>
                                    </a>
                                    <a class="job__skill ilabel" href="/viec-lam-it/ruby-on-rails">
                                      <span>
                                        JavaScript
                                      </span>
                                    </a>
                                    <a class="job__skill ilabel" href="/viec-lam-it/ruby-on-rails">
                                      <span>
                                        Ruby
                                      </span>
                                    </a>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="job container-fluid" id="job3">
                    <div class="row job-content">
                      <div class="col-md-2 img-company">
                        <img src="../../assets/image/company.png" alt="">
                      </div>
                      <div class="col-md-10 job-description">
                        <div class="job-body">
                          <div class="title-job">
                            <h2><a href="#">Ruby on Rails Developer (JavaScript)</a></h2>
                            <div class="salary not-signed-in">
                              <span class="salary-icon-stack">
                                <i class="fa fa-usd" aria-hidden="true"></i>
                              </span>
                              <a class="popup-link view-salary" data-popup-id="sign_in" data-link-status="sign_in_tab" href="javascript:void(0)">Đăng nhập để xem mức lương <i class="fa fa-caret-right" aria-hidden="true"></i></a>
                            </div>
                            <div class="description">
                              <p>• Triển khai, vận hành phần mềm và hướng dẫn sử dụng cho người dùng
                                <br>• Lên kế hoạch hàng năm cho việc phát triển hệ thống ứng dụng, đưa ra những sáng kiến...</p>
                              </div>
                            </div>
                          </div>
                          <div class="job-bottom">
                            <div class="tag-list">
                              <a class="job__skill ilabel" href="/viec-lam-it/ruby-on-rails">
                                <span>
                                  Ruby on Rails
                                </span>
                              </a>
                              <a class="job__skill ilabel" href="/viec-lam-it/ruby-on-rails">
                                <span>
                                  JavaScript
                                </span>
                              </a>
                              <a class="job__skill ilabel" href="/viec-lam-it/ruby-on-rails">
                                <span>
                                  Ruby
                                </span>
                              </a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
      </div>
    </div>
  </div>

  <!-- Footer -->
  <div class="footer">
    <div class="footer-content">
      <div class="footer-link">
        Liên hệ để đăng tin tuyển dụng tại Hồ Chí Minh: (+84) 977 460 519 - Hà Nội: (+84) 964 618 859 - Email: love@itviec.com

      </div>
      <div class="col-md-3 footer-links__col">
        <a class="footer-link" href="/vi">Trang Chủ</a>
        <a class="footer-link" href="/viec-lam-it">Việc Làm IT</a>
        <a target="_blank" class="footer-link" href="#">Về ITviec.com</a>
        <a target="_blank" class="footer-link" href="#">Quy chế hoạt động</a>
      </div>
      <div class="col-md-3 footer-links__col">
        <a target="_blank" class="footer-link" href="#">Quy định bảo mật</a>
        <a target="_blank" class="footer-link" href="#">Thoả thuận sử dụng</a>
        <a target="_blank" class="footer-link" href="#">Chính sách giải quyết khiếu nại</a>
        <span class="footer-link">Copyright © ITviec Ltd</span>
      </div>
      <div class="col-md-6 footer-links__col">
        <span class="footer-link">Địa chỉ: 60 Nguyễn Văn Thủ, Phường Đa Kao, Quận 1, Tp.HCM</span>
        <span class="footer-link">MST: 0312192258</span>
        <span class="footer-link">Điện thoại: 028.66811397</span>
        <div class="follow hidden-xs">
          <div class="social_icons">
            <a target="_blank" class="tw-icon" rel="nofollow" href="#"></a>
            <a target="_blank" class="fb-icon" rel="nofollow" href="#"></a>
            <a target="_blank" class="in-icon" rel="nofollow" href="#"></a>
            <a target="_blank" rel="publisher" class="gp-icon" href="#"></a>
          </div>
        </div>
      </div>
    </div>


  </div>


  <script type="text/javascript" src="../../assets/js/bootstrap.js"></script>
  <script type="text/javascript" src="../../assets/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="../../assets/js/bootstrap-toggle.js"></script>
  <script type="text/javascript" src="../../assets/jquery-3.2.1.min.js"></script>
</body>
</html>
